<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438513279926-vmmph44cioop8h97320fgaquegbsr4so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438513279926-vmmph44cioop8h97320fgaquegbsr4so</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>438513279926-8ofvhi6si8otdhftuf98ttvp0cjhlqmt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkKTLGWnpM_eSAny1B5RXpgmLKktooELw</string>
	<key>GCM_SENDER_ID</key>
	<string>438513279926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-de956</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-de956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438513279926:ios:330ee726cb7ca3c7675717</string>
</dict>
</plist>